.background{
    background-image: url(../tokyoimages/Tokyonights.jpg);
    margin: auto;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    opacity: 80%;
    text-shadow: rgb(0, 0, 0) 10px 10px 11px;
}

h1{
    color: white;
    text-align: center;
}

p {
    color: white;
}

nav > ul > li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 100%;
}

.grid-content{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rebeccapurple;
    padding: 10px
}

.grid-content > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-color: purple;
    border-radius: 15px;
    border-radius: 15px;
}

.item1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item2 {
    grid-column-start: 2;
    grid-column-end: 6;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item4 {
    grid-column-start: 2;
    grid-column-end: 6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item5 {
    grid-column-start: 1;
    grid-column-end: 6;
}

@media (max-width: 500px) {
}