.home{
    width: 100%;
    height: 100vh;
    background-image: url(../Finalproject/images/JapanShrine.png);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navi {
    height: 12%;
    display: flex;
    align-items: center;
}

.logo {
    width: 130px;
    height: 130px;
    cursor: pointer;
}

nav{
    flex: 1;
    text-align: right;

}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    color: #fff;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    display: flex;
    height: 88%;
    align-items: center;
}

.col {
    flex-basis: 50%;
}

h1{
    color: white;
    font-size: 100px;
}

.p{
    color: white;
    font-size: 11px;
    line-height: 15px;
}

button{
    width: 180px;
    color: black;
    font-size: 12px;
    padding: 12px 0;
    background-color: white;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(../Finalproject/tokyoimages/Tokyonightlife.jpeg);
    background-position: center;
    background-size: cover;
    color: wheat;
}

.card1{
    background-image: url(../Finalproject/tokyoimages/Tokyonightlife.jpeg);
}

.card2{
    background-image: url(../Finalproject/kyotoimages/historic-shrine-kyoto-japan_665346-1892.jpg);
}


